.section {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--on-surface);
    color: var(--surface);
    font-size: 2rem;
    line-height: 2.5rem;
    border: 2px var(--tertiary-container) solid;
    border-radius: var(--border);
    width: 100%;
    max-width: var(--max-width);
    box-shadow: var(--shadow);
    user-select: none;
}

.prompt, .section textarea {
    font-weight: 600;
    letter-spacing: .04rem;
    --transition: all 100ms linear;
}

.prompt {
    width: 100%;
    padding: 2rem 4rem; 
}

.letter {
    opacity: 50%;
    transition: var(--transition);
}

.letter_correct {
    opacity: 100%;
    transition: var(--transition);
}

.letter_error {
    opacity: 100%;
    color: var(--error-container);
    transition: var(--transition);
}

.space_error {
    box-shadow: 0 3px 0 0 var(--error-container);
    transition: var(--transition);
}

.letter_tab {
    padding-left: 4rem;
}

.section > textarea {
    position: absolute;
    top: 0;
    background-color: transparent;
    color: transparent;
    padding: 4rem;
    height: 100%;
    resize: none;
}

.section > textarea::-webkit-scrollbar {
    display: none;
}  

.side {
    background-color: var(--on-surface);
    width: 1000px;
    height: auto;
    margin-right: 274px;
    border-radius: var(--border);
    box-shadow: 28rem 0 0 0 var(--tertiary-container);
}


