.section {
    position: relative;
    color: var(--text);
    font-size: 2rem;
    line-height: 2.5rem;
    border: 1px var(--outline) solid;
    border-radius: var(--border);
    margin-bottom: 2rem;
    width: 100%;
    max-width: var(--max-width);
}

.section > pre {
    user-select: none;
    opacity: 50%;
    padding: 4rem;
}

.letter {

}

.error_letter {

}

.section > textarea {
    position: absolute;
    top: 0;
    background-color: transparent;
    color: transparent;
    caret-color: var(--text);
    padding: 4rem;
    height: 100%;
    resize: none;
}

