.section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--tertiary-container);
    border-radius: var(--border);
    box-shadow: 0 5px 0 0 var(--tertiary-container);
}

.time {
    display: flex;
    color: var(--on-tertiary-container);
    width: 200px;
}

