.section {
    flex: 1 1 350px;
    background-color: var(--tertiary-container);
    color: var(--on-tertiary-container);
    border-radius: var(--border);
    height: 200px;
    padding: 2rem 4rem;
    box-shadow: var(--shadow)
}
