.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}

.content_container {
    flex: 1 1 var(--max-width);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

