.main {
    display: grid;
    grid-template-columns: minmax(200px, 24%) minmax(70%, var(--max-width));
    gap: 2rem;
    padding: 2rem;
}

.content_container {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

