.aside {
    flex: 1 1 150px;
    background-color: var(--error);
    color: var(--on-error);
    font-weight: bold;
    padding: 2rem;
    border-radius: var(--border);
    height: fit-content;
    box-shadow: -4px 4px 0 0 var(--error-container);
}

.aside > h3 {
    width: fit-content;
    border-bottom: 1px dashed var(--on-error);
    margin: 1rem;
}

.state_container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    padding: 2rem;
}
