.container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: var(--dark-bg-color);
  padding: 2rem;
  margin-top: 50vh;
}

.text {
  font-weight: 600;
  transition: .3s ease-in;
}

.text > a:hover {
  color: var(--main-color);
}

.duck {
  position: absolute;
  top: 10px;
  left: 20px;
  color: var(--main-color);
  font-size: 3rem;
}