.container {
  width: 60vw;
  margin: 0 auto;
}


/* Menu */

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-bg-color);
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.time_list {
  position: relative;
  display: flex;
  gap: 1rem;
}

.time_list__icon {
  position: absolute;
  top: 2px;
  left: -3ch;
}

.time_list_item {
  color: var(--text-color);
  font-weight: bold;
  transition: .3s ease-out;
}

.time_list_item.selected {
  color: var(--main-color);
}

.time {
  color: var(--main-color);
  font-size: 2.2rem;
  font-weight: bold;
  padding: .3rem;
  transition: .3s ease-in;
}


/* Main */

.section {
  position: relative;
  border-radius: 5px;
  border: 2px dashed var(--light-bg-color);
}

.section, .prompt {
  padding: 2rem;
}

.input, .prompt, .substring__letter {
  font-size: 2.5rem;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  caret-color: transparent;
}
.input:focus {
  outline: none;
}

@keyframes caret_animation {
  0% {
    border-right: 2px solid #49891Aff;
  }

  100% {
    border-right: 2px solid #49891A00;
  }

}
.substring[data-animation="running"] {
  animation: caret_animation .5s linear infinite alternate;
}
.substring[data-animation="none"] {
  animation: none;
}

.substring {
  border-right: 2px solid var(--main-color);
  font-size: 2rem;
  transition: .3s ease-out;
}

.substring__letter {
  color: var(--text-color);
  opacity: 100%;
}

.substring__letter.error {
  color: var(--error-color);
}

.prompt {
  color: var(--sub-color);
  margin-left: -1.6ch;
}


/* Results */

.results_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 0;
}

.results__main {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
}

.results__main .results__title {
  font-size: 2.2rem;
}

.results__main .results__data {
  font-size: 6rem;
}

.results__secondary {
 flex: 1 1 80%;
 display: flex;
 justify-content: space-between;
}

.results__title {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--sub-color);
}

.results__data {
  font-size: 4rem;
  font-weight: bold;
  color: var(--main-color);
}

.crown {
  color: var(--bg-color);
  background-color: var(--main-color);
  font-size: 1.6rem;
  padding: .2em .3em;
  border-radius: 5px;
}

/**/

@media only screen and (max-width: 850px) {    
  .container {
    width: 90vw;
  }
}

